# Copy this to .env (do NOT commit your real token)
TOKEN=8752747497:AAEp0ntICw2rRGT4QEmFd0zp3Tfr3KclsD0
# Optional: custom sticker id
STICKER_ID=CAACAgIAAxkBAAPJagTG0C9kW8QOFfHfsM1c5bFuOCsAAtijAAPtIUgYVJ5-tM3vqTsE
